@model IEnumerable<Nordanvind.Models.Product>

<div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">Products</h2>
    <a class="btn btn-primary" href="/Products/Create">Add New</a>
</div>

<table class="table table-hover mt-3">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (Product p in Model)
    {
        <tr>
            <td>@p.ProductId</td>
            <td>@p.ProductName</td>
            <td>@p.UnitPrice</td>
            <td>
                <a asp-action="Delete" asp-route-id="@p.ProductId" title="Delete @p.ProductName"
                    class="badge bg-danger pb-2 text-white text-decoration-none">
                    x
                </a>
            </td>
        </tr>
    }
</table>